
.howto{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: wheat;
    border: 1px solid black;
    border-radius: 30px;
    width: 120px;
    margin: 20px;
    font-weight: bold;
}

.btn:hover{
    color: red;
    cursor: pointer;
}