

.card1{
    width: 100px;
    text-align: center;
}

.card2{
    width: 100px;
    text-align: center;
}

.card3{
    width: 100px;
    text-align: center;
}

.blankCard{
    width: 100px;
    text-align: center;
}