
.trun{
    margin: 0 auto;
    text-align: center;
}

.trunCard {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    width: 85px;
    height: 75px;
    border-radius: 50%;
    border: none;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    transition: .4s;
}

.trunCard:active {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}